[Unit]
Description=HID Event Processor

[Service]
Type=simple
Restart=always
EnvironmentFile=%E/systemd/hep.conf
ExecStart=sh -c "${HEP_PATH}"

[Install]
WantedBy=graphical-session.target
